* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #E5E4F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header{
    display: flex;
    background-color: #FFFDFD;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
}

main{
    min-height: calc(100vh - 80px);
    max-width: 1300px;
    width: calc(100% - 87px);
    margin-left: 87px;
}

.logo{
    width: 83px;
    height: 60px;
    padding: 10px;
    display: flex;
}

.navegacao{
    display: flex;
}

.lista-navegacao{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.ancora-navegacao{
    text-decoration: none;
    color: #2028F2;
}

.itens-navagacao{
    display: flex;
}

.linha-azul{
    background-color: #2028F2;
    width: 77px;
    height: 85vh;
    left: 10px;
    top:80px;
    position: absolute;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 80vh, 0% 100%);
}

#colegio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 40px;
}

#colegio .title{
    
}