* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #E5E4F7;
    display: flex;
}

header{
    display: flex;
    background-color: #FFFDFD;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
}

.logo{
    width: 83px;
    height: 60px;
    padding: 10px;
    display: flex;
}

.navegacao{
    display: flex;
}

.lista-navegacao{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.ancora-navegacao{
    text-decoration: none;
    color: #2028F2;
}
.itens-navagacao{
    display: flex; 
}
.linha-azul{
    background-color: #2028F2;
    width: 77px;
    height: 85vh;
    left: 10px;
    top: 80px;
    position: absolute;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 80vh, 0% 100%);
}
